{% extends 'driver/../base.html' %}
{% block content %}
    <div>
        {% if messages %}
            <ul>
            {%for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        <h3 class="title">{{ advice.title }}</h3>
        <div class="media">
            {% if 'video' in advice.media_type %}
                <video width="448" height="252" controls>
                    <source src="{{ advice.media.url }}" type="{{ advice.media_type }}">
                </video>
            {% elif "image" in  advice.media_type %}
                <img src="{{ advice.media.url }}" alt="{{ advice.title }}" width="448" height="252">
            {% endif %}
        </div>
        <div>
            <p>
                {{ advice.article }}
            </p>
            <p>
                Data publikacji: {{ advice.created_date }}
            </p>
            <p class="tags">
                {% for tag in advice.tags.all %}
                    {{ tag }}
                {% endfor %}
            </p>
            <p class="likes">
                likes: {{ advice.likes }}
                {% if not user.is_anonymous %}
                <form method="post">
                    {% csrf_token %}
                    {% if not like.like %}
                        <button type="submit" name="like">Like</button>
                    {% else %}
                        <button type="submit" name="dislike">Dislike</button>
                    {% endif %}
                </form>
                {% endif %}
            </p>
        </div>
        <div class="quiz">
            <form method="post" name="quiz" id="quiz">
            {% csrf_token %}
            {% for question in advice.testquestion_set.all %}
                <h4>{{ question.question }}</h4>
                <ul>
                {% for answer in question.testanswer_set.all %}
                    <li><input type="radio" name="question-{{ question.id }}" value="{{ answer.id }}">{{ answer.answer }} {{ answer.is_truth }}</li>
                {% endfor %}
                </ul>
            {% endfor %}
                <input type="submit" name="submit_quiz" value="Wyślij">
            </form>
        </div>
    </div>
{% endblock %}