<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Driver</h2>
    <div>
        {% if user.is_anonymous %}
            <a href="{% url 'login' %}">Zaloguj się</a>
            <a href="{% url 'register' %}">Załóż konto</a>
        {% else %}
            <p>Cześć {{ user.first_name }}!</p>
            <p>Twoja punkacja: {{ user.score.score }}</p>
            <a href="{% url 'logout' %}">Wyloguj się</a>
        {% endif %}
    </div>
    <div>
        <nav>
            <a href="{% url 'home' %}">Porady</a>
            <a href="#">Forum</a>
            <a href="#">Quiz</a>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>